<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./common/head.ejs') %>
    <title>Dahboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
  </head>
  <body>
    <%- include('./common/top-navbar.ejs') %>
    <div style="display: flex"><%- include('./common/side-navbar.ejs') %></div>
    <main>
      <!--  -->
      <div class="container">
        <% if(msg){ %>

        <div class="alert warning">
          <span class="closebtn">&times;</span>
          <strong> Error! </strong> <%= msg %>
        </div>

        <% } else { %>
        <div style="visibility: hidden" class="alert warning">
          <span class="closebtn">&times;</span>
          <strong>Nothing </strong> Indicates a warning that might need
          attention.
        </div>
        <% } %>
        <div
          style="
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          "
        >
          <div class="header">
            <h2>User Dashboard</h2>
          </div>
          <form id="form" method="post" action="/register" class="form">
            <!-- last password -->
            <div class="form-control">
              <label for="psw"> <b>Last Password</b> </label>
              <input
                type="password"
                name="psw"
                placeholder="Enter Password"
                id="psw"
              />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <small>Error message</small>
            </div>
            <!-- new password -->
            <div class="form-control">
              <label for="psw"> <b>New Password</b> </label>
              <input
                type="password"
                name="psw"
                placeholder="Enter Password"
                id="psw"
              />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <small>Error message</small>
            </div>
            <!-- repeat new password -->
            <div class="form-control">
              <label for="psw_repeat"> <b>Repeat New Password</b> </label>
              <input
                type="password"
                name="psw_repeat"
                placeholder="Repeat Password"
                id="psw_repeat"
              />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <small>Error message</small>
            </div>

            <button id="submit-button" type="submit">Change Password</button>
          </form>
        </div>
      </div>
    </main>
    <script src="/javascripts/dashboard.js"></script>
  </body>
</html>
