<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="clearfix">
      <a style="text-decoration: none" href="/login">
        <button type="button" class="login button">Login</button></a
      >
      <a style="text-decoration: none" href="/register">
        <button type="button" class="signup button button2">Sign Up</button></a
      >
    </div>
  </body>
</html>
