<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
    
    <input type="hidden" id="userId" value="<%= user._id.toString()%>">
    <div class="vertical-center">
      <a href="/dashboard">Dashboard</a>
      <a href="#">Change Password</a>
      <a style="cursor: pointer;" onclick="remove()">Delete Account</a>
      <a href="/logout">Log Out</a>
    </div>
  
  </div>
  
