<div class="topnav">
  <div id="main">
    <span id="lines"
      style=" float: left; cursor: pointer"
      onclick="openNav()"
      >&#9776;</span
    >
  </div>
  <a class="" href="/Articles">Home</a>
  <% if(user.role === "admin"){ %>
  <a href="/admin-panel">Admin Panel</a>
  <% } %>
  <a href="/profile">User Profile</a>
</div>
